@model SGA.Models.StorageType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StorageType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StorageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
