@model User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <style>
        /* Estilos para el overlay */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
            z-index: 1; /* Asegura que el overlay esté sobre todos los demás elementos */
        }

        /* Estilos adicionales para el body y el contenedor de login */
        body {
            background: url("/Assets/Background-login.jpg");
            background-size: cover;
            height: 100vh;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        .container {
            position: relative; /* Asegura que el contenedor esté posicionado relativo para alinear correctamente el formulario */
            max-width: 440px;
            padding: 0 20px;
            margin: 170px auto;
            z-index: 2; /* Asegura que el contenedor esté sobre el overlay */
        }

        .wrapper {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
        }

        /* Resto de tus estilos (sin cambios) */
        .logo {
            margin-bottom: 15px;
            margin-top: 0px;
            padding-top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .logo img {
                width: 90%;
                margin: 10px;
                border-radius: 50px;
                
            }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .wrapper img {
            width: 90%;
            margin: 10px;
            border-radius: 50px;
        }

        .wrapper form {
            padding: 30px 25px 25px 25px;
        }

            .wrapper form .row {
                height: 45px;
                margin-bottom: 15px;
                position: relative;
            }

                .wrapper form .row input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    padding-left: 60px;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                    font-size: 16px;
                    transition: all 0.3s ease;
                }

        form .row input:focus {
            border-color: #1E406E;
            box-shadow: inset 0px 0px 2px 2px rgba(26, 110, 188, 0.25);
        }

        form .row input::placeholder {
            color: #999;
        }

        .wrapper form .row i {
            position: absolute;
            width: 47px;
            height: 100%;
            color: #fff;
            font-size: 18px;
            background: #335D99;
            border: 1px solid #335D99;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrapper form  button {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding-left: 0px;
            background: #335D99;
            border: 1px solid #335D99;
            cursor: pointer;
        }

        form  button:hover {
            background: #1E406E;
        }

    </style>


</head>

<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="wrapper">
            <img src="/Assets/Logo-GDIPasubio.png" alt="Company Logo" draggable="false" srcset="" />
            <form asp-controller="Login" asp-action="Index" method="post">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="password" placeholder="Contraseña" class="form-control" id="usuario-input" asp-for="EmployeeNumber" required>
                    
                </div>
                
                <div class="row button">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
       

</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</html>


